<form action="{{ path('awaresoft_user_resend_activation_confirm') }}" {{ form_enctype(form) }} method="POST" class="user_registration_resend_confirm">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>  