{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}


{% block list_table %}
    {{ parent() }}

    <div class="col-xs-12">
        <div class="box box-warning">
            <div class="panel panel-warning">
                <div class="panel-heading">{{ 'legend'|trans }}</div>
                <div class="panel-body">
                    <div>
                        <p><b>Admin:</b></p>
                        <p>{{ 'user.admin.help.user_group_admin'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}