{% extends 'SonataUserBundle:Admin/Security:login.html.twig' %}


{% block html_attributes %}id="awaresoft-login" class="no-js"{% endblock %}


{% block login_box_header %}
    <div class="login-box-body login-logo">
        <a href="{{ path('sonata_admin_dashboard') }}">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <div>
                    <img src="{{ asset('bundles/awaresoftsonataadmin/images/aware_logo.png') }}" alt="{{ sonata_admin.adminPool.title }}">
                </div>
            {% endif %}
        </a>
    </div>
{% endblock %}